<tr>
  <td><%= route.name %></td>
  <td><%= link_to t('common.show'), [:admin, route], class: 'btn-sm btn btn-info' %></td>
  <td><%= link_to t('common.edit'), edit_admin_route_path(route), class: 'btn-sm btn btn-warning' %></td>
  <td><%= link_to t('common.delete'), [:admin, route], class: 'btn-sm btn btn-danger', method: :delete, data: {confirm: t('common.shure_question')} %></td>
</tr>