<h1><%= t('route.index_title') %></h1>

<table>
  <thead>
  <tr>
    <th><%= t('route.name_column_title') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @routes %>
  </tbody>
</table>

<br>

<%= link_to t('route.create_new_route_button'), new_admin_route_path, class: 'btn btn-success' %>