<p id="notice"><%= notice %></p>

<h1>Список пользователей</h1>

<table>
  <thead>
  <tr>
    <th>Имя</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @users %>
  </tbody>
</table>

<br>

<%= link_to 'Создать', new_user_path, class: 'btn btn-success' %>