<ul class="list-group">
  <p><li class="list"><%= link_to 'Список станций', railway_stations_path, class: 'btn btn-primary' %></li></p>
  <p><li class="list"><%= link_to 'Список поездов', trains_path, class: 'btn btn-primary' %></li></p>
  <p><li class="list"><%= link_to 'Список маршрутов', routes_path, class: 'btn btn-primary' %></li></p>
  <p><li class="list"><%= link_to 'Список вагонов', carriages_path, class: 'btn btn-primary' %></li></p>
</ul>







