<tr>
  <td><%= ticket.number %></td>
  <td><%= link_to 'Показать', ticket_path(ticket), class: 'btn-sm btn btn-info' %></td>
  <td><%= link_to 'Удалить', ticket_path(ticket), class: 'btn-sm btn btn-danger', method: :delete, data: {confirm: 'Вы уверены?'} %></td>
</tr>