<h1>Редактирование билета</h1>
+
+<%= render 'form', ticket: @ticket %>
+
+<%= link_to 'Показать', @ticket, class: 'btn btn-info' %> |
+<%= link_to 'Назад', tickets_path, class: 'btn-sm btn-default' %>