<h1>Редактирование билета</h1>

<div class="text_input">
  <%= render 'form', ticket: @ticket %>
</div>

<%= link_to 'Показать', [:admin, @ticket], class: 'btn btn-info' %> |
<%= link_to 'Назад', admin_tickets_path, class: 'btn-sm btn-default' %>