<h1>Список билетов</h1>

<table>
  <thead>
  <tr>
    <th>Номер</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @tickets %>
  </tbody>
</table>

<br>

<%= link_to 'Создать новый билет', new_ticket_path, class: 'btn btn-success' %>