<tr>
  <td><%= railway_station.title %></td>
  <td><%= link_to 'Показать', railway_station, class: 'btn-sm btn btn-info' %></td>
  <td><%= link_to 'Изменить', edit_railway_station_path(railway_station), class: 'btn-sm btn btn-warning' %></td>
  <td><%= link_to 'Удалить', railway_station, class: 'btn-sm btn btn-danger', method: :delete, data: {confirm: 'Вы уверены?'} %></td>
</tr>