<%= form_tag(result_path, method: :get) do %>
    <p><strong>Станция отправления:</strong></p>
    <p><%= select_tag "search[first_station_id]", options_from_collection_for_select(RailwayStation.all, :id, :name) %></p>

    <p><strong>Станция назначения:</strong></p>
    <p><%= select_tag "search[last_station_id]", options_from_collection_for_select(RailwayStation.all, :id, :name) %></p>

    <p><%= submit_tag 'Найти' %></p>
<% end %>