<%= form_tag(result_path, method: :get) do %>
    <h4><strong>Станция отправления:</strong></h4>
    <p class="text_input"><%= select_tag "search[first_station_id]", options_from_collection_for_select(RailwayStation.all, :id, :name) %></p>

    <h4><strong>Станция назначения:</strong></h4>
    <p class="text_input"><%= select_tag "search[last_station_id]", options_from_collection_for_select(RailwayStation.all, :id, :name) %></p>

    <p><%= submit_tag 'Найти', class: 'btn btn-success' %></p>
<% end %>