<% if @result.nil? %>
    <h1>По вашему запросу ничего не найдено</h1>
<% else %>

    <h1>По вашему запросу найдены маршруты:</h1>

    <table>
      <thead>
      <tr>
        <td>№ Поезда:</td>
        <td>Маршрут:</td>
        <td>Прибытие:</td>
        <td>Отправление:</td>
        <td>Действие:</td>
      </tr>
      </thead>
      <tbody>
      <%= render 'show'  %>
      </tbody>
    </table>
<% end %>