/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.backgroundImageCVR{
    position:relative;
    padding:15px;
}
.background-image{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:url(https://s-media-cache-ak0.pinimg.com/originals/7a/29/ab/7a29ab9e4d6e4827d0de6c6a49896394.jpg);
    background-size:cover;
    z-index:1;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
.content{
    position:relative;
    z-index:2;
    color:#fff;
    margin-bottom: 50px; /* Отступ снизу */
}

.text_input {
    color: #000000;
}


.list {
    list-style-type: none;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    color: grey;
    width: 100%;
}

.footer-text {
    padding: 18px;
    background: #f3f3f3;
}

.vcenter {
    display: inline-block;
    float: none;
    vertical-align: middle;
}