<tr>
  <td><%= train.number %></td>
  <td><%= link_to 'Показать', train, class: 'btn-sm btn btn-info' %></td>
  <td><%= link_to 'Изменить', edit_train_path(train), class: 'btn-sm btn btn-warning' %></td>
  <td><%= link_to 'Удалить', train, class: 'btn-sm btn btn-danger', method: :delete, data: {confirm: 'Вы уверены?'} %></td>
</tr>