<div class="footer">
  <div class="footer-text">
    &copy;<a href="https://github.com/Sergo8707"> Sergey Drach - 2017 </a>
    Учебный проект в <a href="http://www.thinknetica.com/"> онлайн-школе Thinknetica"</a>
  </div>
</div>