<p>Привет, <%= @user.email %></p>

<p>Вы удалили билет билет № <%= @ticket.number %> по маршруту "<%= @ticket.route_name %>"</p>
<p>Все свои билеты Вы можете посмотреть <%= link_to 'здесь', tickets_url%></p>